stages:
  - build
  - containerize
  - update_manifests

variables:
  DOCKER_IMAGE_BACKEND: zaikbros/hr-backend
  DOCKER_IMAGE_FRONTEND: zaikbros/hr-frontend

# =====================
# 1. Build Backend
# =====================
build_backend:
  stage: build
  image: maven:3.9.6-eclipse-temurin-21
  services:
    - name: mysql:8.0
      alias: mysql
  variables:
    MYSQL_DATABASE: SpringbootJpa
    MYSQL_ROOT_PASSWORD: manager
    SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/SpringbootJpa
    SPRING_DATASOURCE_USERNAME: root
    SPRING_DATASOURCE_PASSWORD: manager
  before_script:
    - apt-get update && apt-get install -y netcat-openbsd
    - until nc -z mysql 3306; do echo "Waiting for MySQL..."; sleep 2; done
  script:
    - mvn clean package
  artifacts:
    paths:
      - target/*.war
    expire_in: 1 hour

# =====================
# 2. Build Frontend
# =====================
build_frontend:
  stage: build
  image: node:22
  script:
    - cd frontend
    - rm -f package-lock.json
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/
    expire_in: 1 hour

# =====================
# 3. Dockerize Backend
# =====================
docker_push_backend:
  stage: containerize
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - docker build -t $DOCKER_IMAGE_BACKEND:$CI_COMMIT_TAG .
    - docker push $DOCKER_IMAGE_BACKEND:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG

# =====================
# 4. Dockerize Frontend
# =====================
docker_push_frontend:
  stage: containerize
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  script:
    - cd frontend
    - docker build -t $DOCKER_IMAGE_FRONTEND:$CI_COMMIT_TAG .
    - docker push $DOCKER_IMAGE_FRONTEND:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG

# =====================
# 5. Update Helm Tags
# =====================
update_helm_tags:
  stage: update_manifests
  image: alpine:latest
  before_script:
    - apk add --no-cache git curl yq
    - git config --global user.email "gitlab-bot@zaikbros.com"
    - git config --global user.name "GitLab Bot"
  script:
    - git remote set-url origin "https://oauth2:${GITLAB_BOT_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
    - git fetch origin main
    - git checkout main
    - yq eval ".backend.image.tag = \"$CI_COMMIT_TAG\"" -i helm/hr-system/values.yaml
    - yq eval ".frontend.image.tag = \"$CI_COMMIT_TAG\"" -i helm/hr-system/values.yaml
    - git add helm/hr-system/values.yaml
    - git commit -m "Update image tags to $CI_COMMIT_TAG [skip ci]" || echo "No changes to commit"
    - git push origin main
  rules:
    - if: $CI_COMMIT_TAG
