apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-frontend"
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-frontend"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-frontend"
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: "{{ .Values.frontend.image.pullPolicy }}"
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}-frontend"
spec:
  type: ClusterIP # Changed from LoadBalancer to ClusterIP for Ingress
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: "{{ .Release.Name }}-frontend"
